{% extends "base_regional.html" %}
{% block cuerpo %}

<legend>ACTA ELECTORAL</legend>		
<div class="row-fluid">
	<div class="span3">
		MESA N°: {{ acta.mesa.numero }}
	</div>
	<div class="span3">
		CENTRO DE VOTACION: {{ acta.mesa.centro_votacion }}
	</div>
	<div class="span3">
		TOTAL DE ELECTORES: {{ acta.mesa.total_electores }}
	</div>			
</div>
<div class="row-fluid">
	<div class="span3">
		DISTRITO: {{ acta.mesa.centro_votacion.distrito }}
	</div>
	<div class="span3">
		PROVINCIA: {{ acta.mesa.centro_votacion.distrito.provincia }}
	</div>
	<div class="span3">
		REGION: {{ acta.mesa.centro_votacion.distrito.provincia.region }}
	</div>			
</div>
<div class="row-fluid">
	<table class="table table-striped">
        <thead>
            <tr>
                <th>PARTIDO</th>
                <th>PRESIDENTE REGIONAL</th>
                <th>CONSEJERO REGIONAL</th>		                
            </tr>
        </thead>
        <tbody>
			{% for detalle in detalles %}
				<tr>
	                <td>
	                	{{ detalle.partido }}
	                </td>
	                <td>
                		{{ detalle.votos_pres }}
                	</td>
                  	<td>
                		{{ detalle.votos_cons }}
                	</td>			                
	            </tr>
			{% endfor %}
				<tr>
					<td>
	                	VOTOS EN BLANCO:
	                </td>
	                <td>
	                	{{ acta.votos_blancos_pres }}
	                </td>
	                <td>
	                	{{ acta.votos_blancos_cons }}
	                </td>
				</tr>
				<tr>
					<td>
	                	VOTOS NULOS:
	                </td>
	                <td>
	                	{{ acta.votos_nulos_pres }}
	                </td>
	                <td>
	                	{{ acta.votos_nulos_pres }}
	                </td>
				</tr>
				<tr>
					<td>
	                	VOTOS IMPUGNADOS:
	                </td>
	                <td>
	                	{{ acta.votos_impugnados_pres }}
	                </td>
	                <td>
	                	{{ acta.votos_impugnados_pres }}
	                </td>
				</tr>
				<tr>
					<td>
	                	TOTAL DE VOTOS:
	                </td>
	                <td>
	                	{{ acta.votos_emitidos_pres }}
	                </td>
	                <td>
	                	{{ acta.votos_emitidos_pres }}
	                </td>
				</tr>

		</tbody>
	</table>
</div>	
{% endblock cuerpo %}