{% extends "base_nacional.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">RESULTADOS VOTACIÓN PRESIDENCIAL</h1>
    </div>    
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    DETALLE
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-striped">
					        <thead>
					            <tr>
					                <th>PARTIDO</th>
					                <th>VOTACION</th>
					                <th>PORCENTAJE</th>
					                <th>DETALLE</th>
					            </tr>
					        </thead>
					        <tbody>
					        {% for votos_partido in votos_partidos %}
					            <tr>
					                <td>{{ votos_partido.partido }}</td>
					                <td>{{ votos_partido.votos }}</td>
					                <td>{{ votos_partido.porcentaje }}</td>
					                <td>
					                    <a class="btn btn-small" href="#">
					                        <span class="glyphicon glyphicon-folder-open"></span>
					                    </a>
					                </td>
					            </tr>        
					        {% endfor %}
					            <tr>
					                <td>
					                    VOTOS EN BLANCO:
					                </td>
					                <td>
					                    {{ total_vb.votos_blancos__sum }}
					                </td>
					            </tr>
					            <tr>
					                <td>
					                    VOTOS NULOS:
					                </td>
					                <td>
					                    {{ total_vn.votos_nulos__sum }}
					                </td>
					            </tr>
					            <tr>
					                <td>
					                    VOTOS IMPUGNADOS:
					                </td>
					                <td>
					                    {{ total_vi.votos_impugnados__sum }}
					                </td>
					            </tr>
					            <tr>
					                <td>
					                    TOTAL VOTOS:
					                </td>
					                <td>
					                    {{ total_votos }}
					                </td>
					            </tr>
						    </tbody>
						</table>
						<a href="#">Exportar a Excel</a>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock cuerpo %}